<div class="jumbotron">
	<h1><i class="fa fa-futbol-o"></i> KidsFoot Project</h1>
	<p>This project will be used for kids that like to play football!</p>
	<%= link_to "<i class='fa fa-sign-in'></i> Login Now".html_safe, new_user_registration_path, class:"btn btn-primary btn-sm" %>
</div>
